* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "LatoLatinWeb", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.graph-tree {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  overflow: scroll;
}

.pipeline-connector {
  stroke: #949393;
}

.pipeline-big-label {
}

.pipeline-small-label {
  font-size: 80%;
}

.pipeline-big-label.selected,
.pipeline-small-label.selected {
  font-weight:bold;
}

.pipeline-selection-highlight rect {
  fill: none;
  stroke: #949393;
}

.result-status-glyph {
  stroke: none;
  fill: #fff;
}
.svgResultStatus.no-background .rect-bg {
  opacity: 0;
}
.svgResultStatus rect.learned {
  stroke: none;
  fill: #8CC04F;
}
.svgResultStatus rect.ignored,
.svgResultStatus rect.ignored {
  stroke: none;
  fill: #D54C53;
}
.svgResultStatus rect.learning {
  stroke: none;
  fill: #F6B44B;
}
.svgResultStatus rect.questions {
  stroke: none;
  fill: #D54CC4;
}
